/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/fonts/montserrat-500-normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root, button, input, h1 {
  font: 500 1rem "Montserrat", sans-serif;
  border: none;
  padding: 0;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  min-height: calc(100vh - 50px);
}

#component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 0;
  padding: 58px 9vw;
  border-radius: 40px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

input {
  border-radius: 10px 0 0 10px;
  border: solid 2px transparent;
  padding: 13px;
}
input:focus {
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  min-height: 50px;
  padding: 0 25px;
}

#options-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

#opt-cm:hover, #opt-da:hover, #mobile-ocm:hover, #mobile-oda:hover {
  filter: drop-shadow(0px 0px 5px #000);
  cursor: pointer;
}
#opt-cm:hover path, #opt-da:hover path, #mobile-ocm:hover path, #mobile-oda:hover path {
  fill: #F5FF82;
}

#head {
  display: grid;
  grid: auto/160px 1fr 160px;
  align-items: center;
  justify-items: center;
}

#search-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

#srch-tools, #modal-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 19px;
}

#search, #filterbox, #mod-in-sct {
  border-radius: 10px;
  overflow: hidden;
}

#search {
  display: grid;
  grid: auto/582px 54px;
}

button:hover {
  filter: brightness(95%);
}
button:active {
  filter: brightness(90%);
}
button.selected {
  background: #C5C7FF;
}

#filterbox {
  display: grid;
  grid: auto/repeat(3, 1fr);
}
#filterbox #all svg {
  width: 19px;
  height: 18px;
}
#filterbox #not-finished svg {
  width: 15px;
  height: 15px;
}
#filterbox #finished svg {
  width: 22px;
  height: 15px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 0;
}

.logo-note {
  width: 103px;
  height: 103px;
}

#notasks-title {
  display: none;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}
#notasks-title.notasks {
  display: block;
}

#tasks-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
  min-width: 100%;
  max-height: 372px;
  margin-top: 5.1875rem;
  overflow: auto;
  padding: 0 7px;
  box-sizing: border-box;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  border-radius: 10px;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
}
.task.dragging {
  filter: brightness(80%);
}
.task.targetting {
  opacity: 50%;
}
.task.checked {
  text-decoration: line-through;
  color: rgba(2, 2, 2, 0.5);
}
.task.checked .check-case svg {
  opacity: 1;
}

.task-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.task-infos p {
  margin: 0;
}

.grab-task {
  cursor: grab;
}

.check-case {
  background: rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 12.5px;
}
.check-case:hover {
  cursor: pointer;
}
.check-case svg {
  display: block;
  opacity: 0;
}

.task-modify svg {
  display: block;
  padding: 9px 12px;
}
.task-modify:hover {
  border-radius: 100%;
  overflow: hidden;
}
.task-modify:hover svg {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  filter: contrast(200%);
}

#notasks {
  display: none;
}
#notasks.nochild {
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

footer {
  display: none;
  justify-content: space-around;
  align-items: center;
  grid: 50px/auto auto auto;
}

#mobile-ntb {
  padding: 7px;
  border-radius: 100%;
}
#mobile-ntb svg {
  height: 26px;
  width: 26px;
}

#mod {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 50px;
  width: 100%; /* Full width */
  height: calc(100vh - 50px); /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#mod.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

#mod-c {
  background-color: #fefefe;
  padding: 30px;
  border-radius: 20px;
}
#mod-c label:nth-child(1) {
  font-size: 1.2rem;
  margin-top: 0;
}
#mod-c #add-err {
  font-size: 14px;
  color: #FF7E7E;
}
#mod-in-sct {
  display: grid;
  grid: auto/300px 54px;
  margin-top: 19px;
}

#modal-form {
  gap: 0;
}
#modal-form #add-err {
  display: none;
}
#modal-form.invalid #add-err {
  display: block;
}
#modal-form.invalid input:invalid {
  border-color: #FF7E7E;
}
#modal-form.invalid input:invalid::placeholder {
  color: #FF7E7E;
}

@media (max-width: 1225px) {
  #component {
    box-sizing: border-box;
    width: 90vw;
    padding: 58px;
  }
  #search {
    grid: auto/50vw 54px;
  }
}
@media (max-width: 768px) {
  #app #head {
    display: block;
    width: 100%;
  }
  #app #search {
    grid: auto/1fr 54px;
  }
  div#component {
    padding: 30px;
    width: 100%;
    border-radius: 0;
    background: none;
  }
  .logo-note {
    display: none;
    width: 0;
  }
  .filter {
    padding: 4px 0;
  }
  .task {
    padding: 10px 15px;
  }
  #tasks-box {
    margin-top: 30px;
    max-height: 228px;
    padding-left: 0;
    gap: 20px;
  }
  #srch-tools {
    gap: 10px;
  }
}
@media (max-width: 425px) {
  #app #search #newtask-btn, #app #search #mod-c #mod-add, #mod-c #app #search #mod-add, header #opt-da, header #opt-cm {
    display: none;
  }
  #app {
    min-height: calc(100vh - 100px);
  }
  #app #search {
    grid: auto/auto;
  }
  div#component {
    padding: 0 2%;
  }
  .filter {
    font-size: 10px;
  }
  footer {
    display: grid;
  }
}
@media (prefers-color-scheme: light) {
  #logo #grad-start {
    stop-color: #000000;
  }
  #srch-tools svg, header svg, #mod-c svg, .task-infos svg, footer svg {
    fill: #020202;
  }
  header {
    background: top/cover no-repeat linear-gradient(90deg, #E3E4FF 0%, #DAF0DF 100%);
  }
  body {
    background: top/cover no-repeat linear-gradient(180deg, #FED0D0 0%, #FFF0CB 100%);
    color: #020202;
  }
  #component, #mod-c {
    background: #FEFEFE;
  }
  #search input {
    background: 98%/cover no-repeat url(assets/images/searchlogo.svg), 98%/cover no-repeat url(assets/images/searchlogo.svg), #EEEEEE;
    background-size: 32px;
  }
  input {
    background: 98%/cover no-repeat url(assets/images/searchlogo.svg), #EEEEEE;
  }
  input::placeholder {
    color: #999;
  }
  input:focus {
    border-color: #C5C7FF;
  }
  #newtask-btn, #mod-c #mod-add, #mobile-ntb {
    background: #A5ECB9;
  }
  .task, .filter {
    background: #EDEDED;
    color: #020202;
  }
  .filter:nth-child(2) {
    border-right: solid 1px #020202;
    border-left: solid 1px #020202;
  }
  .filter.active {
    background: #C5C7FF;
  }
  .task.checked .check-case {
    background: #C5C7FF;
  }
  .task.checked .check-case svg {
    fill: #020202;
  }
  ::-webkit-scrollbar-track {
    border: solid 1px rgb(231, 231, 231);
  }
  ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
  }
  footer {
    background: #EDEDED;
  }
  body.theme-b {
    background: top/cover no-repeat linear-gradient(225deg, #000003 0%, #00063A 100%);
    color: rgb(226, 239, 255);
  }
  body.theme-b #logo #grad-start {
    stop-color: #CEFECD;
  }
  body.theme-b #newtask-btn, body.theme-b #mod-c #mod-add, #mod-c body.theme-b #mod-add, body.theme-b #mod-add, body.theme-b #mobile-ntb {
    background-color: #55B06E;
  }
  body.theme-b header {
    background: #212121;
  }
  body.theme-b #component, body.theme-b #mod-c {
    background-color: #303030;
  }
  body.theme-b .logo-note {
    fill: #4A4A4A;
  }
  body.theme-b #srch-tools svg, body.theme-b header svg, body.theme-b #mod-c svg, body.theme-b .task-infos svg, body.theme-b footer svg {
    fill: rgb(226, 239, 255);
  }
  body.theme-b #search input {
    background: 98%/cover no-repeat url(assets/images/searchlogo.svg), #4A4A4A;
    background-size: 32px;
  }
  body.theme-b input {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  body.theme-b input::placeholder {
    color: #999;
  }
  body.theme-b input:focus {
    border-color: #C5C7FF;
  }
  body.theme-b .task, body.theme-b .filter {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  body.theme-b .task.checked {
    color: rgba(226, 239, 255, 0.5);
  }
  body.theme-b .filter:nth-child(2) {
    border-right: solid 1px rgb(226, 239, 255);
    border-left: solid 1px rgb(226, 239, 255);
  }
  body.theme-b .filter.active {
    background: #54407D;
  }
  body.theme-b .task.checked .check-case {
    background: #8B78B1;
  }
  body.theme-b footer {
    background: #212121;
  }
  body.theme-b ::-webkit-scrollbar-track {
    border: solid 1px rgb(51, 51, 51);
  }
  body.theme-b ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
}
@media (prefers-color-scheme: dark) {
  #logo #grad-start {
    stop-color: #CEFECD;
  }
  #newtask-btn, #mod-c #mod-add, #mod-add, #mobile-ntb {
    background-color: #55B06E;
  }
  header {
    background: #212121;
  }
  body {
    background: top/cover no-repeat linear-gradient(225deg, #000003 0%, #00063A 100%);
    color: rgb(226, 239, 255);
  }
  #component, #mod-c {
    background-color: #303030;
  }
  .logo-note {
    fill: #4A4A4A;
  }
  #srch-tools svg, header svg, #mod-c svg, .task-infos svg, footer svg {
    fill: rgb(226, 239, 255);
  }
  #search input {
    background: 98%/cover no-repeat url(assets/images/searchlogo.svg), #4A4A4A;
    background-size: 32px;
  }
  input {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  input::placeholder {
    color: #999;
  }
  input:focus {
    border-color: #C5C7FF;
  }
  .task, .filter {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  .task.checked {
    color: rgba(226, 239, 255, 0.5);
  }
  .filter:nth-child(2) {
    border-right: solid 1px rgb(226, 239, 255);
    border-left: solid 1px rgb(226, 239, 255);
  }
  .filter.active {
    background: #54407D;
  }
  .task.checked .check-case {
    background: #8B78B1;
  }
  .task.checked .check-case svg {
    fill: rgb(226, 239, 255);
  }
  footer {
    background: #212121;
  }
  ::-webkit-scrollbar-track {
    border: solid 1px rgb(51, 51, 51);
  }
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
  body.theme-b {
    background: top/cover no-repeat linear-gradient(180deg, #FED0D0 0%, #FFF0CB 100%);
    color: #020202;
  }
  body.theme-b #logo #grad-start {
    stop-color: #000000;
  }
  body.theme-b #srch-tools svg, body.theme-b header svg, body.theme-b #mod-c svg, body.theme-b .task-infos svg, body.theme-b footer svg {
    fill: #020202;
  }
  body.theme-b header {
    background: top/cover no-repeat linear-gradient(90deg, #E3E4FF 0%, #DAF0DF 100%);
  }
  body.theme-b #component, body.theme-b #mod-c {
    background: #FEFEFE;
  }
  body.theme-b #search input {
    background: 98%/cover no-repeat url(assets/images/searchlogo.svg), 98%/cover no-repeat url(assets/images/searchlogo.svg), #EEEEEE;
    background-size: 32px;
  }
  body.theme-b input {
    background: 98%/cover no-repeat url(assets/images/searchlogo.svg), #EEEEEE;
  }
  body.theme-b input::placeholder {
    color: #999;
  }
  body.theme-b input:focus {
    border-color: #C5C7FF;
  }
  body.theme-b #newtask-btn, body.theme-b #mod-c #mod-add, #mod-c body.theme-b #mod-add, body.theme-b #mobile-ntb {
    background: #A5ECB9;
  }
  body.theme-b .task, body.theme-b .filter {
    background: #EDEDED;
    color: #020202;
  }
  body.theme-b .filter:nth-child(2) {
    border-right: solid 1px #020202;
    border-left: solid 1px #020202;
  }
  body.theme-b .filter.active {
    background: #C5C7FF;
  }
  body.theme-b .logo-note {
    fill: #E1E1E1;
  }
  body.theme-b .task.checked .check-case {
    background: #C5C7FF;
  }
  body.theme-b .task.checked .check-case svg {
    fill: #020202;
  }
  body.theme-b footer {
    background: #EDEDED;
  }
  body.theme-b ::-webkit-scrollbar-track {
    border: solid 1px rgb(231, 231, 231);
  }
  body.theme-b ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
  }
}
