/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/fonts/montserrat-500-normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root, button, input, h1 {
  font: 500 1rem "Montserrat", sans-serif;
  border: none;
  padding: 0;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  min-height: calc(100vh - 50px);
}

#component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 0;
  padding: 6vh 7vw;
  border-radius: 40px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

input {
  min-width: 0;
  border-radius: 10px 0 0 10px;
  border: solid 2px transparent;
  padding: 13px;
}
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  min-height: 50px;
  padding: 0 25px;
}

#options-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

#opt-cm:hover, #opt-da:hover, #mobile-ocm:hover, #mobile-oda:hover {
  filter: drop-shadow(0px 0px 5px #000);
  cursor: pointer;
}
#opt-cm:hover path, #opt-da:hover path, #mobile-ocm:hover path, #mobile-oda:hover path {
  fill: #F5FF82;
}

#head {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  align-items: center;
  justify-items: center;
}

#search-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

#srch-tools, #modal-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 19px;
}

#search, #filterbox, #mod-in-sct {
  border-radius: 10px;
  overflow: hidden;
}

#search {
  display: grid;
  grid: auto/582px 54px;
}

button:hover {
  filter: brightness(95%);
}
button:active {
  filter: brightness(90%);
}
button.selected {
  background: #C5C7FF;
}

#filterbox {
  display: grid;
  grid: auto/repeat(3, 1fr);
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 0;
}

#tasks-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
  min-width: 100%;
  max-height: 372px;
  margin-top: 5.1875rem;
  overflow: auto;
  padding: 0 7px;
  box-sizing: border-box;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  border-radius: 10px;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
}
.task.dragging {
  filter: brightness(80%);
}
.task.touching {
  filter: brightness(80%);
  position: absolute;
  width: 85vw;
}
.task.targetting {
  opacity: 50%;
}
.task.checked {
  text-decoration: line-through;
  color: rgba(2, 2, 2, 0.5);
}
.task.checked .check-case svg {
  opacity: 1;
}

.task-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.task-infos p {
  margin: 0;
  word-wrap: break-word;
  max-width: 50vw;
  padding: 3px;
}
.task-infos p.editable {
  outline: rgba(2, 2, 2, 0.5) solid 2px;
  border-radius: 5px;
}

.grab-task {
  cursor: grab;
}

.check-case {
  background: rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 100%;
}
.check-case:hover, .check-case ~ p:hover {
  cursor: pointer;
}
.check-case svg {
  display: block;
  opacity: 0;
}

.task-opt {
  display: flex;
  flex-direction: row;
}

.task-modify svg {
  padding: 9px;
}

.task-delete svg {
  padding: 9px 12px;
}

.task-modify svg, .task-delete svg {
  display: block;
}
.task-modify:hover, .task-delete:hover {
  border-radius: 100%;
  overflow: hidden;
}
.task-modify:hover svg, .task-delete:hover svg {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  filter: contrast(200%);
}

#notasks {
  display: none;
}
#notasks.nochild {
  display: block;
}

#notasks-title {
  display: none;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}
#notasks-title.notasks {
  display: block;
}

footer {
  display: none;
  justify-content: space-around;
  align-items: center;
  grid: 50px/auto auto auto;
}

#mobile-ntb {
  padding: 7px;
  border-radius: 100%;
}
#mobile-ntb svg {
  height: 26px;
  width: 26px;
}

@keyframes modalHint {
  from {
    top: -15px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes modalHintClose {
  from {
    opacity: 1;
    top: 0px;
  }
  to {
    opacity: 0;
    top: -15px;
  }
}
@keyframes modalFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalFadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#mod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  animation: modalFadeout 0.6s ease;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: rgba(2, 2, 2, 0.6);
}
#mod.active {
  animation: modalFadein 0.5s ease;
}
#mod.inactive {
  display: none;
}

#mod-msg-box {
  animation: modalHintClose 0.5s ease forwards;
  padding: 0 15px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}
#mod-msg-box.shown {
  display: block;
  opacity: 0;
  animation: modalHint 0.5s ease forwards;
}

#mod-c {
  background-color: #fefefe;
  padding: 30px;
  border-radius: 20px;
}
#mod-c label:nth-child(1) {
  font-size: 1.2rem;
  margin-top: 0;
}
#mod-c #add-err {
  font-size: 14px;
  color: #FF7E7E;
}
#modal-form {
  gap: 0;
}
#modal-form #add-err {
  display: none;
}
#modal-form.invalid #add-err {
  display: block;
}
#modal-form.invalid input:invalid {
  border-color: #FF7E7E;
}
#modal-form.invalid input:invalid::placeholder {
  color: #FF7E7E;
}

#mod-in-sct {
  display: grid;
  grid: auto/300px 54px;
  margin-top: 19px;
}

@media (min-width: 2000px) {
  body, input, button, #mod-c label:nth-child(1) {
    font-size: 1.6rem;
  }
  .task, #search, #filterbox {
    border-radius: 15px;
  }
  #opt-da, #opt-cm, .del-task, .mdf-task, .logo-note, .grab-task, #newtask-btn svg, #mod-c #mod-add svg, .check-case svg {
    width: auto;
  }
  .grab-task, .del-task, .mdf-task, #newtask-btn svg, #mod-c #mod-add svg {
    height: 35px;
  }
  #opt-da, #opt-cm, #newtask-btn svg, #mod-c #mod-add svg {
    height: 50px;
  }
  .logo-note {
    height: 170px;
  }
  .check-case {
    padding: 8px;
  }
  .check-case svg {
    height: 25px;
  }
  #search {
    grid: auto/40vw 75px;
  }
  input {
    padding: 20px 30px;
    border-radius: 20px 0 0 20px;
  }
  #mod-in-sct {
    grid: auto/700px 75px;
  }
  header {
    min-height: 100px;
  }
  header > svg, header > svg #clip0_103_264 rect, header > svg > path {
    width: 200px;
    height: 50px;
  }
  #tasks-box {
    max-height: 480px;
  }
  #app {
    min-height: calc(100vh - 100px);
  }
  #mod {
    height: calc(100vh - 100px);
  }
  #component {
    box-sizing: border-box;
    width: 80vw;
    padding: 100px;
  }
  .task-infos {
    gap: 25px;
  }
  .task {
    padding: 1.5625rem 2.5rem;
  }
}
@media (max-width: 1225px) {
  #head {
    column-gap: 15px;
  }
  #component {
    box-sizing: border-box;
    width: 90vw;
    padding: 58px;
  }
  #search {
    grid: auto/50vw 54px;
  }
  .task {
    padding: 10px 15px;
  }
  #tasks-box {
    margin-top: 30px;
    max-height: 228px;
    padding-left: 0;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  body.theme-b div#component, div#component {
    background: none;
  }
  #app #head {
    display: block;
    width: 100%;
  }
  #app #search {
    grid: auto/1fr 54px;
  }
  div#component {
    padding: 30px;
    width: 100%;
    border-radius: 0;
  }
  #tasks-box {
    margin-top: 50px;
  }
  .logo-note {
    display: none;
    width: 0;
  }
  .filter {
    padding: 4px 0;
  }
  #srch-tools {
    gap: 10px;
  }
}
@media (max-width: 425px) {
  .filter {
    font-size: 10px;
  }
  header {
    justify-content: center;
  }
  #app #search #newtask-btn, #app #search #mod-c #mod-add, #mod-c #app #search #mod-add, header #opt-da, header #opt-cm {
    display: none;
  }
  #app, #mod {
    min-height: calc(100vh - 100px);
  }
  #app #search, #mod #search {
    grid: auto/auto;
  }
  div#component {
    padding: 0 2%;
  }
  .task-infos p {
    max-width: 30vw;
  }
  #tasks-box {
    max-height: 390px;
  }
  footer {
    display: grid;
  }
  #mod-c {
    box-sizing: border-box;
  }
  #mod-in-sct {
    grid: auto/1fr 54px;
  }
}
@media (max-width: 375px) {
  .task {
    font-size: 0.75rem;
  }
  .grab-task, .del-task, .mdf-task, .check-case svg, .tt-logo {
    width: auto;
  }
  #search input {
    padding: 10px;
  }
  #filterbox .tt-logo {
    height: 11px;
  }
  .grab-task {
    height: 16px;
  }
  .del-task, .mdf-task {
    height: 18px;
  }
  .task-delete svg {
    padding: 4px 6px;
  }
  .task-modify svg {
    padding: 4px;
  }
  .check-case svg {
    height: 10px;
  }
}
@media (prefers-color-scheme: light) {
  #srch-tools svg, header svg, #mod-c svg, .task-infos svg, footer svg, .task-modify svg {
    fill: #020202;
  }
  body {
    background: top/cover no-repeat linear-gradient(180deg, #FED0D0 0%, #FFF0CB 100%);
    color: #020202;
  }
  input {
    background: #EEEEEE;
  }
  input::placeholder {
    color: #999;
  }
  input:focus {
    border-color: #C5C7FF;
  }
  ::-webkit-scrollbar-track {
    border: solid 1px rgb(231, 231, 231);
  }
  ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
  }
  header {
    background: top/cover no-repeat linear-gradient(90deg, #E3E4FF 0%, #DAF0DF 100%);
  }
  #logo #grad-start {
    stop-color: #000000;
  }
  #search input {
    background: 98%/cover no-repeat url("data:image/svg+xml,%3Csvg width=%2732%27 height=%2732%27 viewBox=%270 0 32 32%27 fill=%27%23999%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z%27/%3E%3C/svg%3E"), #EEEEEE;
    background-size: 32px;
  }
  #newtask-btn, #mod-c #mod-add, #mobile-ntb {
    background: #A5ECB9;
  }
  .filter:nth-child(2) {
    border-right: solid 1px #020202;
    border-left: solid 1px #020202;
  }
  .filter.active {
    background: #C5C7FF;
  }
  .task, .filter {
    background: #EDEDED;
    color: #020202;
  }
  .task.checked .check-case {
    background: #C5C7FF;
  }
  .task.checked .check-case svg {
    fill: #020202;
  }
  .check-case ~ p:hover {
    color: rgba(2, 2, 2, 0.5);
  }
  .task-infos p.editable {
    outline: rgba(2, 2, 2, 0.5) solid 2px;
  }
  #mod-msg-box {
    background: rgba(254, 254, 254, 0.6);
  }
  #component, #mod-c {
    background: #FEFEFE;
  }
  footer {
    background: #EDEDED;
  }
  body.theme-b {
    background: top/cover no-repeat linear-gradient(225deg, #000003 0%, #00063A 100%);
    color: rgb(226, 239, 255);
  }
  body.theme-b #srch-tools svg, body.theme-b header svg, body.theme-b #mod-c svg, body.theme-b .task-infos svg, body.theme-b footer svg, body.theme-b .task-modify svg {
    fill: rgb(226, 239, 255);
  }
  body.theme-b input {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  body.theme-b input::placeholder {
    color: #999;
  }
  body.theme-b input:focus {
    border-color: #C5C7FF;
  }
  body.theme-b ::-webkit-scrollbar-track {
    border: solid 1px rgb(51, 51, 51);
  }
  body.theme-b ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
  body.theme-b header {
    background: #212121;
  }
  body.theme-b #logo #grad-start {
    stop-color: #CEFECD;
  }
  body.theme-b #newtask-btn, body.theme-b #mod-c #mod-add, #mod-c body.theme-b #mod-add, body.theme-b #mod-add, body.theme-b #mobile-ntb {
    background-color: #55B06E;
  }
  body.theme-b .logo-note {
    fill: #4A4A4A;
  }
  body.theme-b #search input {
    background: 98%/cover no-repeat url("data:image/svg+xml,%3Csvg width=%2732%27 height=%2732%27 viewBox=%270 0 32 32%27 fill=%27%23999%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z%27/%3E%3C/svg%3E"), #4A4A4A;
    background-size: 32px;
  }
  body.theme-b .filter:nth-child(2) {
    border-right: solid 1px rgb(226, 239, 255);
    border-left: solid 1px rgb(226, 239, 255);
  }
  body.theme-b .filter.active {
    background: #54407D;
  }
  body.theme-b .task, body.theme-b .filter {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  body.theme-b .task.checked {
    color: rgba(226, 239, 255, 0.5);
  }
  body.theme-b .check-case ~ p:hover {
    color: rgba(226, 239, 255, 0.5);
  }
  body.theme-b .task.checked .check-case {
    background: #8B78B1;
  }
  body.theme-b .task.checked .check-case svg {
    fill: rgb(226, 239, 255);
  }
  body.theme-b .task-infos p.editable {
    outline: rgba(226, 239, 255, 0.5) solid 2px;
  }
  body.theme-b #mod-msg-box {
    background: #303030;
  }
  body.theme-b #component, body.theme-b #mod-c {
    background-color: #303030;
  }
  body.theme-b footer {
    background: #212121;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: top/cover no-repeat linear-gradient(225deg, #000003 0%, #00063A 100%);
    color: rgb(226, 239, 255);
  }
  #newtask-btn, #mod-c #mod-add, #mod-add, #mobile-ntb {
    background-color: #55B06E;
  }
  #srch-tools svg, header svg, #mod-c svg, .task-infos svg, footer svg, .task-modify svg {
    fill: rgb(226, 239, 255);
  }
  input {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  input::placeholder {
    color: #999;
  }
  input:focus {
    border-color: #C5C7FF;
  }
  ::-webkit-scrollbar-track {
    border: solid 1px rgb(51, 51, 51);
  }
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
  header {
    background: #212121;
  }
  #logo #grad-start {
    stop-color: #CEFECD;
  }
  .logo-note {
    fill: #4A4A4A;
  }
  #search input {
    background: 98%/cover no-repeat url("data:image/svg+xml,%3Csvg width=%2732%27 height=%2732%27 viewBox=%270 0 32 32%27 fill=%27%23999%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z%27/%3E%3C/svg%3E"), #4A4A4A;
    background-size: 32px;
  }
  .filter:nth-child(2) {
    border-right: solid 1px rgb(226, 239, 255);
    border-left: solid 1px rgb(226, 239, 255);
  }
  .filter.active {
    background: #54407D;
  }
  .task, .filter {
    background: #4A4A4A;
    color: rgb(226, 239, 255);
  }
  .task.checked {
    color: rgba(226, 239, 255, 0.5);
  }
  .check-case ~ p:hover {
    color: rgba(226, 239, 255, 0.5);
  }
  .task.checked .check-case {
    background: #8B78B1;
  }
  .task.checked .check-case svg {
    fill: rgb(226, 239, 255);
  }
  .task-infos p.editable {
    outline: rgba(226, 239, 255, 0.5) solid 2px;
  }
  #mod-msg-box {
    background: #303030;
  }
  #component, #mod-c {
    background-color: #303030;
  }
  footer {
    background: #212121;
  }
  body.theme-b {
    background: top/cover no-repeat linear-gradient(180deg, #FED0D0 0%, #FFF0CB 100%);
    color: #020202;
  }
  body.theme-b #srch-tools svg, body.theme-b header svg, body.theme-b #mod-c svg, body.theme-b .task-infos svg, body.theme-b footer svg, body.theme-b .task-modify svg {
    fill: #020202;
  }
  body.theme-b input {
    background: #EEEEEE;
    color: #020202;
  }
  body.theme-b input::placeholder {
    color: #999;
  }
  body.theme-b input:focus {
    border-color: #C5C7FF;
  }
  body.theme-b ::-webkit-scrollbar-track {
    border: solid 1px rgb(231, 231, 231);
  }
  body.theme-b ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
  }
  body.theme-b header {
    background: top/cover no-repeat linear-gradient(90deg, #E3E4FF 0%, #DAF0DF 100%);
  }
  body.theme-b #logo #grad-start {
    stop-color: #000000;
  }
  body.theme-b #search input {
    background: 98%/cover no-repeat url("data:image/svg+xml,%3Csvg width=%2732%27 height=%2732%27 viewBox=%270 0 32 32%27 fill=%27%23999%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z%27/%3E%3C/svg%3E"), #EEEEEE;
    background-size: 32px;
  }
  body.theme-b #newtask-btn, body.theme-b #mod-c #mod-add, #mod-c body.theme-b #mod-add, body.theme-b #mobile-ntb {
    background: #A5ECB9;
  }
  body.theme-b .task, body.theme-b .filter {
    background: #EDEDED;
    color: #020202;
  }
  body.theme-b .check-case ~ p:hover {
    color: rgba(2, 2, 2, 0.5);
  }
  body.theme-b .filter:nth-child(2) {
    border-right: solid 1px #020202;
    border-left: solid 1px #020202;
  }
  body.theme-b .filter.active {
    background: #C5C7FF;
  }
  body.theme-b .logo-note {
    fill: #E1E1E1;
  }
  body.theme-b .task.checked .check-case {
    background: #C5C7FF;
  }
  body.theme-b .task.checked .check-case svg {
    fill: #020202;
  }
  body.theme-b .task.checked {
    color: rgba(2, 2, 2, 0.5);
  }
  body.theme-b .task-infos p.editable {
    outline: rgba(2, 2, 2, 0.5) solid 2px;
  }
  body.theme-b #mod-msg-box {
    background: rgba(254, 254, 254, 0.6);
  }
  body.theme-b #component, body.theme-b #mod-c {
    background: #FEFEFE;
  }
  body.theme-b footer {
    background: #EDEDED;
  }
}
@media (min-width: 2000px) {
  body.theme-b #search input, #search input {
    background-size: 50px;
  }
}
@media (max-width: 375px) {
  body.theme-b #search input, #search input {
    background-size: 25px;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  #app {
    background: rgba(42, 42, 42, 0.5);
  }
  body.theme-b #app {
    background: rgba(160, 160, 160, 0.5);
  }
}
@media (max-width: 768px) and (prefers-color-scheme: light) {
  #app {
    background: rgba(160, 160, 160, 0.5);
  }
  body.theme-b #app {
    background: rgba(42, 42, 42, 0.5);
  }
}
