@import './assets/styles/variables';
@import './assets/styles/header.scss';
@import './assets/styles/search-section.scss';
@import './assets/styles/tasks-section.scss';
@import './assets/styles/modal-add.scss';
@import './assets/styles/medias-size.scss';

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(assets/fonts/montserrat-500-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root, button, input, h1 {
    font: 500 1rem 'Montserrat', sans-serif;
    border: none;
    padding: 0;
}
body {
    background: $bodyBackground;
    margin: 0;
}
#app {
    @include flex(column, center, center);
    min-height: $appHeight;
}
#component {
    @include flex(column, center, left, 83px);
    background: $appBackground;
    padding: 58px 9vw; // 3% 9%
    border-radius: 40px;
}
button {
    @include flex(column, center, center)
}
input {
    border-radius: 10px 0 0 10px;
    border: solid 2px transparent;
    padding: 13px;
    background: $inputBg;
    &::placeholder {
        color: $placeholderColor;
    }
    &:focus {
        border-color: #C5C7FF;
        outline: none;
    }
}
footer {
    display: none;
}