@import './assets/styles/variables';
@import './assets/styles/header.scss';
@import './assets/styles/component.scss';

:root {
    font-size: 100%;
}
body {
    background: top / cover no-repeat linear-gradient(180deg, #FED0D0 0%, #FFF0CB 100%);
    margin: 0;
}
#app {
    @include flex(column, center, center);
    min-height: 100vh;
}