#component {

    @include flex(column, center, center);
    background: $appBackground;
    padding: 58px 180px;
    border-radius: 40px;

    #nav-box {
        @include flex(row, center, center, 75px);
    }

    #srch-tools {
        @include flex(column, left, center, 19px);
    }
    #srch-bar, #filterbox {
        border-radius: 10px;
        overflow: hidden;
    }
    #srch-bar {
        display: grid;
        grid: auto / 582px 54px 54px;
        input {
            padding: 15px;
            background: $inputBg;
        }
    }


    #searchtask {
        background: $stbBg;
    }
    #newtask-btn {
        background: $ntbBg;
    }
    button {
        &:hover {
            filter: brightness(95%);
        }
        &:active {
            filter: brightness(90%)
        }
        &.selected {
            background: $stbBg;
        }
    }

    #filterbox {
        display: grid;
        grid: auto / repeat(3, 1fr)
    }
    .filter {
        @include flex(row, center, center, 10px);
        padding : 7px 0;
        &:nth-child(2) {
            border-right: solid 1px black;
            border-left: solid 1px black;
        }
    }
}