//=-=-=-=-=-=-=-Style for the footer-=-=-=-=-=-=-=//
footer {
    display: none;
    justify-content: space-around;
    align-items: center;
    grid: $heightFooter / auto auto auto;
}

#mobile-ntb {
    padding: 7px;
    border-radius: 100%;
    svg {
        height: 26px;
        width: 26px;
    }
}