//=-=-=-=-=-=-=-Responsive for Light Mode as prefered color scheme-=-=-=-=-=-=-=//
@media (prefers-color-scheme: light) {
    // General changes (light) //
    #srch-tools, header, #mod-c, .task-infos, footer, .task-modify {
        svg {
            fill: $textColor;
        }
    }
    body {
        background: $bodyBackground;
        color: $textColor;
    }
    input {
        background: $inputBg;
        &::placeholder {
            color: $placeholderColor;
        }
        &:focus {
            border-color: $blueBg;
        }
    }
    ::-webkit-scrollbar-track {
        border: $sclBorder;
    }
    ::-webkit-scrollbar-thumb {
        background: $sclHandle;
    }

    // Header (light) //
    header {
        background: $headerBackground;
    }
    #logo #grad-start{
        stop-color: #000000;
    }

    // Search section (light) //
    #search input {
        background: 98% / cover no-repeat url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='%23999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z'/%3E%3C/svg%3E"), $inputBg;
        background-size: 32px;
    }
    #newtask-btn, #mobile-ntb  {
        background: $greenBg;
    }
    .filter {
        &:nth-child(2) {
            border-right: solid 1px $textColor;
            border-left: solid 1px $textColor;
        }
    }
    .filter.active {
        background: $blueBg;
    }

    // Tasks section (light) //
    .task, .filter {
        background: $secondBg;
        color: $textColor;
    }
    .task.checked .check-case {
        background: $blueBg;
        svg { fill: $textColor }
    }
    .check-case {
        &~p:hover {
            color: lessVisible($textColor, 0.5);
        }
    }

    // Modal window (light) //
    #mod-msg-box {
        background: lessVisible($primaryBg, 0.6);
    }
    #component, #mod-c { 
        background: $primaryBg;
    }
    
    // Footer (light) //
    footer {
        background: $secondBg;
    }

    //=-=-=-=-=-=-=-Dark mode triggered by clicking the 'Change theme' button-=-=-=-=-=-=-=//
    body.theme-b {
        // General changes (light theme-b) //
        background: $bodyBD;
        color: $textD;
        #srch-tools, header, #mod-c, .task-infos, footer, .task-modify {
            svg {
                fill: $textD;
            }
        }
        input {
            background: $secondBD;
            color: $textD;
            &::placeholder {
                color: $placeholderColor;
            }
            &:focus {
                border-color: #C5C7FF;
            }
        }
        ::-webkit-scrollbar-track {
            border: $sclBorderD;
        }
        ::-webkit-scrollbar-thumb {
            background: $sclHandleD;
        }   

        // Header (light theme-b) //
        header {
            background: $headerBD;
        }
        #logo #grad-start{
            stop-color: $logoGS;
        }

        // Search section (light theme-b) //
        #newtask-btn, #mod-add, #mobile-ntb {
            background-color: $greenD;
        }
        .logo-note {
            fill : $secondBD;
        }
        #search input {
            background: 98% / cover no-repeat url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='%23999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z'/%3E%3C/svg%3E"), $secondBD;
            background-size: 32px;
        }
        .filter:nth-child(2) {
            border-right: solid 1px $textD;
            border-left: solid 1px $textD;
        }
        .filter.active {
            background: $purpleD;
        }
    
        // Tasks section (light theme-b) //
        .task, .filter {
            background: $secondBD;
            color: $textD;
        }
        .task.checked {
            color: lessVisible($textD, 0.5);
        }
        .check-case {
            &~p:hover {
                color: lessVisible($textD, 0.5);
            }
        }
        .task.checked .check-case {
            background: $checkedD;
            svg { fill: $textD }
        }

        // Modal window (light theme-b) //
        #mod-msg-box {
            background: $primaryD;
        }
        #component, #mod-c {
            background-color : $primaryD;
        }

        // Footer (light theme-b) //
        footer {
            background: $headerBD;
        }
    }
}

//=-=-=-=-=-=-=-Responsive for Dark Mode as prefered color scheme-=-=-=-=-=-=-=//
@media (prefers-color-scheme: dark) {
    // General changes (dark) //
    body {
        background: $bodyBD;
        color: $textD;
    }
    #newtask-btn, #mod-add, #mobile-ntb  {
        background-color: $greenD;
    }
    #srch-tools, header, #mod-c, .task-infos, footer, .task-modify {
        svg {
            fill: $textD;
        }
    }
    input {
        background: $secondBD;
        color: $textD;
        &::placeholder {
            color: $placeholderColor;
        }
        &:focus {
            border-color: #C5C7FF;
        }
    }
    ::-webkit-scrollbar-track {
        border: $sclBorderD;
    }
    ::-webkit-scrollbar-thumb {
        background: $sclHandleD;
    }

    // Header (dark) //
    header {
        background: $headerBD;
    }
    #logo #grad-start{
        stop-color: $logoGS;
    }

    // Search section (dark) //
    .logo-note {
        fill : $secondBD;
    }
    #search input {
        background: 98% / cover no-repeat url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='%23999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z'/%3E%3C/svg%3E"), $secondBD;
        background-size: 32px;
    }
    .filter:nth-child(2) {
        border-right: solid 1px $textD;
        border-left: solid 1px $textD;
    }
    .filter.active {
        background: $purpleD;
    }

    // Tasks section (dark) //
    .task, .filter {
        background: $secondBD;
        color: $textD;
    }
    .task.checked {
        color: lessVisible($textD, 0.5);
    }
    .check-case {
        &~p:hover {
            color: lessVisible($textD, 0.5);
        }
    }
    .task.checked .check-case {
        background: $checkedD;
        svg { fill: $textD }
    }

    // Modal window (dark) //
    #mod-msg-box {
        background: $primaryD;
    }
    #component, #mod-c {
        background-color : $primaryD;
    }

    // Footer (dark) //
    footer {
        background: $headerBD;
    }

    //=-=-=-=-=-=-=-Light mode triggered by clicking the 'Change theme' button-=-=-=-=-=-=-=//
    body.theme-b {
        // General changes (dark theme-b) //
        background: $bodyBackground;
        color: $textColor;
        #srch-tools, header, #mod-c, .task-infos, footer, .task-modify {
            svg {
                fill: $textColor;
            }
        }
        input {
            background: $inputBg;
            color: $textColor;
            &::placeholder {
                color: $placeholderColor;
            }
            &:focus {
                border-color: $blueBg;
            }
        }
        ::-webkit-scrollbar-track {
            border: $sclBorder;
        }
        ::-webkit-scrollbar-thumb {
            background: $sclHandle;
        }

        // Header (dark theme-b) //
        header {
            background: $headerBackground;
        }
        #logo #grad-start{
            stop-color: #000000;
        }

        // Search section (dark theme-b) //
        #search input {
            background: 98% / cover no-repeat url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='%23999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.44 1.92001C7.425 1.92001 2.56 6.78501 2.56 12.8C2.56 18.815 7.425 23.68 13.44 23.68C15.5875 23.68 17.575 23.05 19.26 21.98L27.12 29.84L29.84 27.12L22.08 19.38C23.475 17.55 24.32 15.2825 24.32 12.8C24.32 6.78501 19.455 1.92001 13.44 1.92001ZM13.44 4.48001C18.0475 4.48001 21.76 8.19251 21.76 12.8C21.76 17.4075 18.0475 21.12 13.44 21.12C8.8325 21.12 5.12 17.4075 5.12 12.8C5.12 8.19251 8.8325 4.48001 13.44 4.48001Z'/%3E%3C/svg%3E"), $inputBg;
            background-size: 32px;
        }
        #newtask-btn, #mobile-ntb {
            background: $greenBg;
        }
        .task, .filter {
            background: $secondBg;
            color: $textColor;
        }
        .check-case {
            &~p:hover {
                color: lessVisible($textColor, 0.5);
            }
        }
        .filter {
            &:nth-child(2) {
                border-right: solid 1px $textColor;
                border-left: solid 1px $textColor;
            }
        }
        .filter.active {
            background: $blueBg;
        }
        .logo-note {
            fill : $noteColor;
        }
    
        // Tasks section (dark theme-b) //
        .task.checked .check-case {
            background: $blueBg;
            svg { fill: $textColor }
        }
        .task.checked {
            color: lessVisible($textColor, 0.5);
        }

        // Modal window (dark theme-b) //
        #mod-msg-box {
            background: lessVisible($primaryBg, 0.6);
        }
        #component, #mod-c { 
            background: $primaryBg;
        }

        // Footer (dark theme-b) //
        footer {
            background: $secondBg;
        }
    }
}

// Media query for changing the scale of the search logo in the search input //
@media (min-width: 2000px) {
    body.theme-b #search input, #search input {
        background-size: 50px;
    }
}
@media (max-width: 375px) {
    body.theme-b #search input, #search input {
        background-size: 25px;
    }
}

// Media query for changing the #app background //
@media (max-width: 768px) and (prefers-color-scheme: dark) {
    #app {
        background: $mobappBD;
    }
    body.theme-b #app {
        background: $mobappBg;
    }
}
@media (max-width: 768px) and (prefers-color-scheme: light) {
    #app {
        background: $mobappBg;
    }
    body.theme-b #app {
        background: $mobappBD;
    }
}