@media (min-width: 2000px) {
    body, input, button, #mod-c label:nth-child(1) {
        font-size: 2rem;
    }
    $headerHeight: 100px;
    header {
        min-height: $headerHeight;
        &>svg, &>svg #clip0_103_264 rect, &>svg > path {
            width: 200px;
            height: 50px;
        }
    }
    #opt-da {
        width: 50px;
        height: 65px;
    }
    #opt-cm {
        width: 65px;
        height: 65px;
    }
    .del-task {
        height: 50px;
        width: auto;
    }
    $appHeight: calc(100vh - ($headerHeight));
    #app {
        min-height: $appHeight;
    }
    #search {
        grid: auto / 40vw 59px
    }
    #component {
        box-sizing: border-box;
        width: 80vw;
        padding: 100px;
    }
    #mod-in-sct {
        grid: auto/700px 59px
    }
}
@media (max-width: 1225px) {
    #component {
        box-sizing: border-box;
        width: 90vw;
        padding: 58px;
    }
    #search {
        grid: auto / 50vw 54px;
    }
    .task {
        padding: 10px 15px;
    }
    #tasks-box {
        margin-top: 30px;
        max-height: 228px;
        padding-left: 0;
        gap: 20px;
    }
}
@media (max-width: 768px) {
    body.mob-act {
        #app {
            justify-content: flex-start;
        }
        #tasks-box {
            max-height: 115px;
        }
    }
    #app{
        #head {
            display: block;
            width: 100%;
        }
        #search {
            grid: auto / 1fr 54px;
        }
    }
    div#component {
        padding: 30px;
        width: 100%;
        border-radius: 0;
    }
    #tasks-box {
        margin-top: 50px;
    }
    body.theme-b div#component, div#component {
        background: none;
    }
    .logo-note {
        display: none;
        width: 0;
    }
    .filter {
        padding: 4px 0;
    }
    #srch-tools {
        gap: 10px;
    }
}
@media (max-width: 425px) {
    $appHeight: calc(100vh - ($headerHeight + $heightFooter));
    header {
        justify-content: center;
    }
    #app #search #newtask-btn, header #opt-da, header #opt-cm {
        display: none;
    }
    #app {
        min-height: $appHeight;
        #search {
            grid: auto / auto;
        }
    }
    div#component {
        padding: 0 2%;
    }

    #tasks-box {
        max-height: 390px;
    }
    .filter {
        font-size: 10px;
    }
    footer {
        display: grid;
    }
}
@media (max-width: 375px) {

    .grab-task, .del-task, .check-case svg, .tt-logo {
        width: auto;
    }
    #search input {
        padding: 10px;
    }
    #filterbox .tt-logo {
        height: 11px;
    }
    .grab-task {
        height: 16px;
    }
    .del-task {
        height: 18px;
    }
    .task-modify svg {
        padding: 4px 6px;
    }
    .check-case svg {
        height: 10px;
    }
    .task {
        font-size: 0.75rem;
    }
}