@media (max-width: 1225px) {
    #component {
        box-sizing: border-box;
        width: 90vw;
        padding: 58px;
    }
    #search {
        grid: auto / 50vw 54px;
    }
}

@media (max-width: 768px) {
    #app{
        #head {
            display: block;
            width: 100%;
        }
        #search {
            grid: auto / 1fr 54px;
        }
    }
    div#component {
        padding: 30px;
        width: 100%;
        border-radius: 0;
    }
    body.theme-b div#component, div#component {
        background: none;
    }
    .logo-note {
        display: none;
        width: 0;
    }
    .filter {
        padding: 4px 0;
    }
    .task {
        padding: 10px 15px;
    }
    #tasks-box {
        margin-top: 30px;
        max-height: 228px;
        padding-left: 0;
        gap: 20px;
    }
    #srch-tools {
        gap: 10px;
    }
}

@media (max-width: 425px) {
    $appHeight: calc(100vh - ($headerHeight + $heightFooter));
    #app #search #newtask-btn, header #opt-da, header #opt-cm {
        display: none;
    }
    #app {
        min-height: $appHeight;
        #search {
            grid: auto / auto;
        }
    }
    div#component {
        padding: 0 2%;
    }

    #tasks-box {
        max-height: 390px;
    }
    .filter {
        font-size: 10px;
    }
    footer {
        display: grid;
    }
}