//=-=-=-=-=-=-=-Style for the modal window-=-=-=-=-=-=-=//
// Keyframes declaration for animations //
@keyframes modalHint {
    from {
        top: -15px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes modalHintClose {
    from {
        opacity: 1;
        top: 0px
    }
    to {
        opacity: 0;
        top: -15px;
    }
}

@keyframes modalFadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modalFadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

// Modal window styling //
#mod {
    @include flex(column, center, center);
    animation: modalFadeout 0.6s ease;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: $appHeight;
    background-color: lessVisible($textColor, 0.6);
    &.active{
        animation: modalFadein 0.5s ease;
    }
    &.inactive {
        display: none;
    }
}

// Modal window's message hint about closing this one //
#mod-msg-box {
    animation: modalHintClose 0.5s ease forwards;
    padding: 0 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    &.shown {
        display: block;
        opacity: 0;
        animation: modalHint 0.5s ease forwards;
    }
}

// Modal window component //
#mod-c {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 20px;
    label:nth-child(1) {
        font-size: 1.2rem;
        margin-top: 0;
    }
    #add-err {
        font-size: 14px;
        color: $invalid;
    }
    #mod-add {
        @extend #newtask-btn;
    }
}

// Modal window form //
#modal-form {
    gap: 0;
    #add-err {
        display: none;
    }
    &.invalid {
        #add-err {
            display: block;
        }
        input:invalid {
        border-color: $invalid;
            &::placeholder {
                color: $invalid;
            }
        }
    }
}

// Modal window input & button container //
#mod-in-sct {
    display: grid;
    grid: auto / 300px 54px;
    margin-top: 19px;
}