#mod {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: $headerHeight;
    width: 100%; /* Full width */
    height: $appHeight; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &.active{
        @include flex(column, center, center);
    }
}

#mod-c {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 20px;
    label:nth-child(1) {
        font-size: 1.2rem;
        margin-top: 0;
    }
    #add-err {
        font-size: 14px;
        color: $invalid;
    }
    #mod-add {
        @extend #newtask-btn;
    }
}

#mod-in-sct {
    display: grid;
    grid: auto / 300px 54px;
    margin-top: 19px;
}

#modal-form {
    gap: 0;
    #add-err {
        display: none;
    }
    &.invalid {
        #add-err {
            display: block;
        }
        input:invalid {
        border-color: $invalid;
            &::placeholder {
                color: $invalid;
            }
        }
    }
}