
@keyframes modalHint {
    from {
        top: -15px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes modalHintClose {
    from {
        opacity: 1;
        top: 0px
    }
    to {
        opacity: 0;
        top: -15px;
    }
}

@keyframes modalFadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modalFadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#mod {
    @include flex(column, center, center);
    animation: modalFadeout 0.6s ease;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    min-height: $appHeight; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &.active{
        animation: modalFadein 0.5s ease;
    }
    &.inactive {
        display: none;
    }
}

#mod-msg-box {
    animation: modalHintClose 0.5s ease forwards;
    padding: 0 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    &.shown {
        display: block;
        opacity: 0;
        animation: modalHint 0.5s ease forwards;
    }
}

#mod-c {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 20px;
    label:nth-child(1) {
        font-size: 1.2rem;
        margin-top: 0;
    }
    #add-err {
        font-size: 14px;
        color: $invalid;
    }
    #mod-add {
        @extend #newtask-btn;
    }
}

#mod-in-sct {
    display: grid;
    grid: auto / 300px 54px;
    margin-top: 19px;
}

#modal-form {
    gap: 0;
    #add-err {
        display: none;
    }
    &.invalid {
        #add-err {
            display: block;
        }
        input:invalid {
        border-color: $invalid;
            &::placeholder {
                color: $invalid;
            }
        }
    }
}