#head, #search-logo {
    @include flex(row, center, center, 75px);
}

#srch-tools {
    @include flex(column, stretch, center, 19px);
}
#search, #filterbox {
    border-radius: 10px;
    overflow: hidden;
}
#search {
    display: grid;
    grid: auto / 582px 54px;
    input {
        padding: 15px;
        background: 98% / cover no-repeat url('./assets/images/searchlogo.svg'), $inputBg;
        background-size: 32px;
        &::placeholder {
            color: $placeholderColor;
        }
    }
}

#newtask-btn {
    background: $ntbBg;
}
button {
    &:hover {
        filter: brightness(95%);
    }
    &:active {
        filter: brightness(90%)
    }
    &.selected {
        background: $stbBg;
    }
}

#filterbox {
    display: grid;
    grid: auto / repeat(3, 1fr)
}
.filter {
    @include flex(row, center, center, 10px);
    padding : 7px 0;
    &:nth-child(2) {
        border-right: solid 1px black;
        border-left: solid 1px black;
    }
}