//=-=-=-=-=-=-=-Style for the search section-=-=-=-=-=-=-=//
#head {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    align-items: center;
    justify-items: center;
}
#search-logo {
    @include flex(row, center, center, 75px);
}

#srch-tools, #modal-form {
    @include flex(column, stretch, center, 19px);
}
#search, #filterbox, #mod-in-sct {
    border-radius: 10px;
    overflow: hidden;
}
#search {
    display: grid;
    grid: auto / 582px 54px;
}

button {
    &:hover {
        filter: brightness(95%);
    }
    &:active {
        filter: brightness(90%)
    }
    &.selected {
        background: $blueBg;
    }
}

#filterbox {
    display: grid;
    grid: auto / repeat(3, 1fr);
}
.filter {
    @include flex(row, center, center, 10px);
    padding : 7px 0;
}