#head {
    display: grid;
    grid: auto / 160px 1fr 160px;
    align-items: center;
    justify-items: center;
}
#search-logo {
    @include flex(row, center, center, 75px);
}

#srch-tools, #modal-form {
    @include flex(column, stretch, center, 19px);
}
#search, #filterbox, #mod-in-sct {
    border-radius: 10px;
    overflow: hidden;
}
#search {
    display: grid;
    grid: auto / 582px 54px;
    input {
        background: 98% / cover no-repeat url('./assets/images/searchlogo.svg'), $inputBg;
        background-size: 32px;
    }
}

#newtask-btn {
    background: $ntbBg;
}
button {
    &:hover {
        filter: brightness(95%);
    }
    &:active {
        filter: brightness(90%)
    }
    &.selected {
        background: $stbBg;
    }
}

#filterbox {
    display: grid;
    grid: auto / repeat(3, 1fr);
    #all svg {
        width: 19px;
        height: 18px;
    }
    #not-finished svg {
        width: 15px;
        height: 15px;
    }
    #finished svg {
        width: 22px;
        height: 15px;
    }
}
.filter {
    @include flex(row, center, center, 10px);
    padding : 7px 0;
    &:nth-child(2) {
        border-right: solid 1px black;
        border-left: solid 1px black;
    }
    &.active {
        background: $stbBg;
    }
}
.logo-note {
    width: 103px;
    height: 103px;
}