#notasks-title {
    display: none;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    &.notasks {
        display: block;
    }
}
#tasks-box {
    @include flex(column, flex-start, start, 20px);
    min-width: 100%;
    max-height: 372px;
    margin-top : 5.1875rem;
    overflow: auto;
    padding: 0 7px;
    box-sizing: border-box
}
.task {
    @include flex(row, center, space-between);
    border-radius: 10px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;

    &.dragging {
        filter: brightness(80%);        
    }
    &.targetting {
        opacity: 50%;
    }
    &.checked {
        text-decoration:line-through;
        color: $chkColor;
        .check-case svg {
            opacity: 1;
        }
    }
}

.task-infos {
    @include flex(row, center, center, 14px);
    p {
        margin: 0;
    }
}

.grab-task {
    cursor: grab;
}
.check-case {
    background: $checkBg;
    padding: 4px;
    border-radius: 12.5px;
    &:hover {
        cursor: pointer;
    }
    svg {
        display: block;
        opacity: 0;
    }
}

.task-modify{
    svg {
        display: block;
        padding: 9px 12px;
    }
    &:hover {
        border-radius: 100%;
        overflow: hidden;
        svg {
            background-color: $shadow1;
            cursor: pointer;
            filter: contrast(200%);
        }
    }
}

#notasks {
    display: none;
    &.nochild {
        display: block;
    }
}

// Scrollbar styling //
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}