#notasks-title {
    display: none;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    &.notasks {
        display: block;
    }
}
#tasks-box {
    @include flex(column, flex-start, start, 20px);
    min-width: 100%;
    max-height: 372px;
    margin-top : 83px;
    overflow: auto;
}
.task {
    @include flex(row, center, space-between);
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    &.dragging {
        filter: brightness(80%);        
    }
    &.targetting {
        opacity: 50%;
    }
    &.checked {
        text-decoration:line-through;
        color: $chkColor;
    }
}

#task-infos {
    @include flex(row, center, center, 14px);
    p {
        margin: 0;
    }
}

.grab-task {
    cursor: grab;
}
.check-case {
    background: $checkBg;
    padding: 12.5px;
    border-radius: 12.5px;
    &:hover {
        cursor: pointer;
    }
}

#notasks {
    display: none;
    &.nochild {
        display: block;
    }
}